.toast-tips-container {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  padding: 0 10px;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.toast-tips {
  background: rgba(0, 0, 0, .75);
  color: white;
  padding: 4px 15px;
  border-radius: 4px;
  min-width: 100px;
  text-align: center;
  opacity: 0;
}

.toast-tips.fade-in {
  transition: opacity .25s;
  opacity: 1;
}
.toast-tips.fade-out {
  transition: opacity .25s;
  opacity: 0;
}